/backend/config/.env
/backend/storage/logs/*
!/backend/storage/logs/.gitkeep
/backend/storage/security/*.json
/backend/storage/backups/*
!/backend/storage/backups/.gitkeep
/frontend/uploads/*
!/frontend/uploads/.htaccess
/debug.log
