Options -Indexes
DirectoryIndex index.html

<IfModule mod_headers.c>
    Header always set Cache-Control "no-store, no-cache, must-revalidate"
    Header always set X-Robots-Tag "noindex, nofollow"
</IfModule>

